body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: url(img/Fondos/FondoLogin.png);
    background-size: cover;
    background-position: center;
}

.logo-navegador {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 60px;
    border-radius: 100%;
    z-index: 9999;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-top: 100px;
}

h1 {
    text-align: center;
    font-size: 32px;
    color: #007bff;
    margin-bottom: 20px;
    text-transform: uppercase;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}

button[type="submit"] {
    padding: 10px 20px;
    margin-top: 10px;
    width: 100%;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

footer {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
    margin-top: auto;
}

.footer h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.footer p {
    margin-bottom: 10px;
}

.footer-text {
    font-size: 14px;
}

.footer-text a {
    color: #fff;
    text-decoration: underline;
}

.footer-text a:hover {
    color: #ccc;
}
